<section class="site-section section-contact" id="contact">
            <div class="container">
                <h2>CONTATO</h2>
                <p class="section-subtitle"><span>Meu E-mail</span></p>
                <div class="row">
                    <form>
                        <div class="col-md-4">
                            <input class="form-control" type="text" placeholder="Nome" required>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="email" placeholder="Email" required>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" placeholder="Assunto" required>
                        </div>
                        <div class="col-sm-12">
                            <textarea class="form-control" placeholder="Mensagem"  required></textarea>
                        </div>

                        <div class="col-sm-12">
                            <button class="btn btn-inverted">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section><!-- /.section-contact-->