<section class="section-history" id="history">
            <div class="container">
                <div class="text-center section-diff-title">
                    <h2>Cursos</h2>
                    <p>Meus cursos e certificados</p>
                </div>
                <!-- Timeline -->
                <ul class="timeline">
                    <!-- Timeline badge -->
                    <li class="timeline-start">
                        <div class="rectangle"><span>2014</span></div>
                    </li><!-- /.timeline-start -->

                    <!-- Timeline job & description  -->
                    <li>
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <div class="timeline-date">
                                    <p>Mar</p>
                                </div><!-- /.timeline-date -->
                                <div class="timeline-position">
                                    <p>Análise e Desenvolvimento de Sistemas</p>
                                </div><!-- /.timeline-position -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Formação em ADS pela faculdade Estácio do Ceará</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li>

                    <!-- Timeline badge -->
                    <li class="timeline-start">
                        <div class="rectangle"><span>2020</span></div>
                    </li><!-- /.timeline-start -->

                    <!-- Timeline job & description, inverted  -->
                    <li class="timeline-inverted">
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                               <div class="timeline-position">
                                    <p>Curso Superior em Ciências Contábeis</p>
                                </div><!-- /.timeline-position -->
                                <div class="timeline-date">
                                    <p>Dez</p>
                                </div><!-- /.timeline-date -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Formação em Ciências Contábeis pela Universidade Estadual do Vale do Acaraú(IDJ-UVA)</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li><!-- /.timeline-inverted -->

                    <!-- Timeline job & description  -->
                    <li>
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <div class="timeline-date">
                                    <p>Dez</p>
                                </div><!-- /.timeline-date -->
                                <div class="timeline-position">
                                    <p>Testes Automaticos + Curso completo de Teste de Software</p>
                                </div><!-- /.timeline-position -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Curso de teste de software da Udemy (5h)</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li>

                                        <!-- Timeline badge -->
                    <li class="timeline-start">
                        <div class="rectangle"><span>2021</span></div>
                    </li><!-- /.timeline-start -->

                    <!-- Timeline job & description, inverted  -->
                    <li class="timeline-inverted">
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                               <div class="timeline-position">
                                    <p>Testes funcionais com Selenium WebDriver</p>
                                </div><!-- /.timeline-position -->
                                <div class="timeline-date">
                                    <p>Fev</p>
                                </div><!-- /.timeline-date -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Curso de teste de software da Udemy (13.5h)</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li><!-- /.timeline-inverted -->

                    <!-- Timeline job & description  -->
                    <li>
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <div class="timeline-date">
                                    <p>Mai</p>
                                </div><!-- /.timeline-date -->
                                <div class="timeline-position">
                                    <p>Programação em Python do básico ao avançado</p>
                                </div><!-- /.timeline-position -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Curso de programação da Udemy (63.5h) </p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li>

                    <!-- Timeline Badge  -->

                                                            <!-- Timeline badge -->
                    <li class="timeline-start">
                        <div class="rectangle"><span>2022</span></div>
                    </li><!-- /.timeline-start -->

                    <!-- Timeline job & description, inverted  -->
                    <li class="timeline-inverted">
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                               <div class="timeline-position">
                                    <p>Curso Superior em Ciências da Computação</p>
                                </div><!-- /.timeline-position -->
                                <div class="timeline-date">
                                    <p>Jan</p>
                                </div><!-- /.timeline-date -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Iniciado o curso de Ciências da Computação pela faculdade Descomplica</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li><!-- /.timeline-inverted -->

                    <!-- Timeline job & description  -->
                    <li>
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <div class="timeline-date">
                                    <p>Mai</p>
                                </div><!-- /.timeline-date -->
                                <div class="timeline-position">
                                    <p>Automated Software Testing with Python</p>
                                </div><!-- /.timeline-position -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Curso de teste de software da Udemy (13.5h)</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li>

                    <!-- Timeline job & description, inverted  -->
                    <li class="timeline-inverted">
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                               <div class="timeline-position">
                                    <p>The Complete 2022 Software Testing Bootcamp</p>
                                </div><!-- /.timeline-position -->
                                <div class="timeline-date">
                                    <p>Out</p>
                                </div><!-- /.timeline-date -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Curso de teste de software da Udemy (36.5h)</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li><!-- /.timeline-inverted -->

                    <!-- Timeline job & description  -->
                    <li>
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <div class="timeline-date">
                                    <p>Nov</p>
                                </div><!-- /.timeline-date -->
                                <div class="timeline-position">
                                    <p>Academy Bootcamp QA</p>
                                </div><!-- /.timeline-position -->
                            </div><!-- /.timeline-heading -->
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="../static/img/timeline-img.jpg" class="img-res" alt="">
                                </div><!-- /.timeline-body-thumb -->
                                <p>Bootcamp de Teste de Software do Instituto Atlântico (120h)</p>
                            </div><!-- /.timeline-body -->
                        </div><!-- /.timeline-panel -->
                    </li>

                    <!-- Timeline Badge  -->
                    <li class="timeline-end">
                        <div class="rectangle"><span>More</span></div>
                    </li><!-- /.timeline-end -->
                </ul><!-- /.timeline -->
            </div>
        </section><!-- /.section-history -->