<section class="site-section section-hello" id="intro">
			<div class="container">
				<h2>HELLO &amp; WELCOME</h2>
				<p class="section-subtitle"><span>EXPLORE OUR WORLD</span></p>
				<div class="row">
					<div class="col-sm-4">
						<div class="main-service text-right">
							<div class="rectangle">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</div><!-- /.rectangle -->
							<h3>We Meet Deadlines</h3>
							<p>Your deadline is the most important value for us. Our job is to make sure the job is done perfectly before the deadline.</p>
						</div><!-- /.main-service -->
                        <div class="main-service text-right">
                            <div class="rectangle">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                            </div>
                            <h3>Communication Is Key</h3>
                            <p>Our team is available to check on your questions and take in feedback as soon as possibly.</p>
                        </div><!-- /.main-service -->
					</div>
					<div class="col-sm-4">
						<div class="big-rectangle">
							<img src="../static/img/john-logo.png" alt="">
						</div><!-- /.big-rectangle -->
					</div>
					<div class="col-sm-4">
                        <div class="main-service text-left">
                            <div class="rectangle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <h3>Quality Control</h3>
                            <p>We test out everything to make sure that your project is fully functional, cross–browser compatible and meets your specifications.</p>
                        </div><!-- /.main-service -->
						<div class="main-service text-left">
							<div class="rectangle">
								<i class="fa fa-list" aria-hidden="true"></i>
							</div><!-- /.rectangle -->
							<h3>Pixel Perfect</h3>
							<p>We develop meaningful digital products and experiences that matter with design thinking and creative craftsmanship.</p>
						</div><!-- /.main-service -->
					</div>
				</div>
			</div>
		</section><!-- /.section-hello -->